
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/Api/Koshtorys.Api/.config/
/Api/Koshtorys.Api/Properties/PublishProfiles/
/Api/Koshtorys.Api/Properties/ServiceDependencies/

.DS_Store
Client/ios/Podfile.lock
Client/.dart_tool
Client/build
!Client/packages/
Client/packages/core/.dart_tool

Client/packages/core/.flutter-plugins
Client/packages/core/.flutter-plugins-dependencies
Client/packages/core/pubspec.lock
Client/.flutter-plugins
Client/.flutter-plugins-dependencies
pubspec.lock
